# Pregunta 11

In [2]:
import pandas as pd
import numpy as np

In [3]:
#we create a list of grades 
grades = [15, 17, 20, 11, 13, 18, 19]
grades

[15, 17, 20, 11, 13, 18, 19]

In [4]:
#we create a list of students
students = ["Ana", "Jorge", "Valeria", "Luis", "María", "Carlos", "Sofía"]
students

['Ana', 'Jorge', 'Valeria', 'Luis', 'María', 'Carlos', 'Sofía']

In [ ]:
#this scrop creates a DataFrame with the grades and students
grades_series = pd.Series(grades, index=students)
grades_series

Ana        15
Jorge      17
Valeria    20
Luis       11
María      13
Carlos     18
Sofía      19
dtype: int64

# 12

We calculate the average grade, highest and lowest student

In [6]:
#we calculate the average of the grades
average = grades_series.mean()
average

16.142857142857142

In [7]:
#we calculate the  student with the highest grade
highest_student = grades_series.idxmax()
highest_student

'Valeria'

In [8]:
highest_grade = grades_series.max()
highest_grade

20

In [9]:
#we calculate the student with the lowest grade 
lowest_student = grades_series.idxmin()
lowest_student

'Luis'

In [10]:
lowest_grade = grades_series.min()
lowest_grade

11

In [ ]:
print("El promedio de notas es de", average)
print("La nota más alta", highest_grade, "es de", highest_student)
print("La nota más baja", lowest_grade, "es de", lowest_student)

Promedio de notas es de 16.142857142857142
La nota más alta 20 es de Valeria
La nota más baja 11 es de Luis

# Pregunta 13

In [12]:
#we create the a dictionary of countries and their capitals.
countries_capitals = {
    "Peru": "Lima",
    "Argentina": "Buenos Aires",
    "Brazil": "Brasilia",
    "Colombia": "Bogota",
    "Mexico": "Ciudad De Mexico",
    "Chile": "Santiago",
    "Ecuador": "Quito",
    "Bolivia": "La Paz",
    "Venezuela": "Caracas",
    "Uruguay": "Montevideo",
    "Paraguay": "Asuncion",
    "Canada": "Ottawa",
    "USA": "Washington",
    "France": "Paris",
    "Germany": "Berlin",
    "Italy": "Rome",
    "Spain": "Madrid",
    "Portugal": "Lisbon",
    "UK": "London",
    "Japan": "Tokyo" }
countries_capitals

{'Peru': 'Lima',
 'Argentina': 'Buenos Aires',
 'Brazil': 'Brasilia',
 'Colombia': 'Bogota',
 'Mexico': 'Ciudad De Mexico',
 'Chile': 'Santiago',
 'Ecuador': 'Quito',
 'Bolivia': 'La Paz',
 'Venezuela': 'Caracas',
 'Uruguay': 'Montevideo',
 'Paraguay': 'Asuncion',
 'Canada': 'Ottawa',
 'USA': 'Washington',
 'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Portugal': 'Lisbon',
 'UK': 'London',
 'Japan': 'Tokyo'}

In [13]:
capitals_series = pd.Series(countries_capitals)
capitals_series

Peru                     Lima
Argentina        Buenos Aires
Brazil               Brasilia
Colombia               Bogota
Mexico       Ciudad De Mexico
Chile                Santiago
Ecuador                 Quito
Bolivia                La Paz
Venezuela             Caracas
Uruguay            Montevideo
Paraguay             Asuncion
Canada                 Ottawa
USA                Washington
France                  Paris
Germany                Berlin
Italy                    Rome
Spain                  Madrid
Portugal               Lisbon
UK                     London
Japan                   Tokyo
dtype: object

In [14]:
#we filter the data
filtered = capitals_series[capitals_series.str.len() > 6]
filtered

Argentina        Buenos Aires
Brazil               Brasilia
Mexico       Ciudad De Mexico
Chile                Santiago
Venezuela             Caracas
Uruguay            Montevideo
Paraguay             Asuncion
USA                Washington
dtype: object

In [15]:
print("      Todas las capitales")
print(capitals_series)

      Todas las capitales
Peru                     Lima
Argentina        Buenos Aires
Brazil               Brasilia
Colombia               Bogota
Mexico       Ciudad De Mexico
Chile                Santiago
Ecuador                 Quito
Bolivia                La Paz
Venezuela             Caracas
Uruguay            Montevideo
Paraguay             Asuncion
Canada                 Ottawa
USA                Washington
France                  Paris
Germany                Berlin
Italy                    Rome
Spain                  Madrid
Portugal               Lisbon
UK                     London
Japan                   Tokyo
dtype: object

In [16]:
print("Capitales con más de 6 letras")
print(filtered)

Capitales con más de 6 letras
Argentina        Buenos Aires
Brazil               Brasilia
Mexico       Ciudad De Mexico
Chile                Santiago
Venezuela             Caracas
Uruguay            Montevideo
Paraguay             Asuncion
USA                Washington
dtype: object

# Pregunta 14

In [19]:
#we create the Serie "flowers"
flowers = pd.Series (["rosa", "girasol", "margarita", "dalia", "clavel", "jazmin", "orquidea", "lirio", "tulipan"])
print(".Flores diversas.")
flowers

.Flores diversas.

0         rosa
1      girasol
2    margarita
3        dalia
4       clavel
5       jazmin
6     orquidea
7        lirio
8      tulipan
dtype: object

In [20]:
#convertimos a mayúsculas
flowersmay = flowers.apply(str.upper)
flowersmay

0         ROSA
1      GIRASOL
2    MARGARITA
3        DALIA
4       CLAVEL
5       JAZMIN
6     ORQUIDEA
7        LIRIO
8      TULIPAN
dtype: object

In [21]:
print ("Flores diversas en mayúscula")
print (flowersmay)

Flores diversas en mayúscula
0         ROSA
1      GIRASOL
2    MARGARITA
3        DALIA
4       CLAVEL
5       JAZMIN
6     ORQUIDEA
7        LIRIO
8      TULIPAN
dtype: object