1. Explain the difference between working on a branch and working directly on main. Why is it recommended to always use branches in collaborative projects? [1 pts]

Trabajar en main significa modificar directamente la rama principal, mientras que en un branch los cambios se realizan en paralelo y pueden incorporarse posteriormente, previa revisión. En ese sentido, es recomendable usar un branch, ya que evita afectar al main y facilita el trabajo colaborativo.

6. Declare a variable for each of the following types: int, float, string, and boolean.
Then print the type of each variable using the type() function.

In [3]:
an_int = 30

In [9]:
a_float = 2.50

In [11]:
a_string = "improve"

In [13]:
a_bool = True

In [17]:
print(type(an_int), type(a_float), type(a_string), type(a_bool))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

7. Create a list with a string, a boolean, two numbers, and a sublist of two favorite artists; then access the first and last elements, add a string, and remove the boolean.

In [49]:
list = ["enero", True, 30, 1.8, ["Coldplay", "Adele"]]

Access the first element:

In [23]:
list[0]

'enero'

Access the last element:

In [51]:
list[-1]

['Coldplay', 'Adele']

Add a new string:

In [53]:
list.append("diciembre")
list

['enero', True, 30, 1.8, ['Coldplay', 'Adele'], 'diciembre']

Remove the boolean value:

In [31]:
list.remove(True)

ValueError: list.remove(x): x not in list

In [33]:
list

['enero', 30, 1.8, ['Coldplay', 'Michael Jackson'], 'diciembre', 'diciembre']

8. Define a tuple, explain its immutability, and provide a demonstration of this property.

In [37]:
new_tupla = ("febrero", True, 18, 20.0, 1.5)

La tupla es inmutable porque, una vez creada, sus elementos no pueden modificarse, agregarse ni eliminarse. En caso de intentarlo, se generará un TypeError, indicando que la tupla no admite la asignación de elementos.

In [2]:
try:
    new_tupla[0] = "marzo"
except TypeError as e:
    print("Error al intentar modificar la tupla:", e)

NameError: name 'new_tupla' is not defined

## Part 3 – Pandas Series

### Ejercicio 1: Crear una Serie de calificaciones
A partir de la lista de notas `[15, 17, 20, 11, 13, 18, 19]`, se crea un índice con los nombres de los estudiantes.

In [4]:
import pandas as pd

In [5]:
grades = [15, 17, 20, 11, 13, 18, 19]
students = ["Estefania", "Antonella", "Viviana", "Henry", "Angel", "Lucía", "Katherin"]
grades_series = pd.Series(grades, index=students)
print("Aluumnos y notas:\n", grades_series)

Aluumnos y notas:
 Estefania    15
Antonella    17
Viviana      20
Henry        11
Angel        13
Lucía        18
Katherin     19
dtype: int64

### Ejercicio 2: Calcular el promedio
Se calcula el **promedio de notas** usando `.mean()`.

In [10]:
grades_series.mean()
print("promedio de notas:\n", grades_series.mean())

promedio de notas:
 16.142857142857142

### Ejercicio 3: Estudiante con la nota más alta y más baja
Se utilizan los métodos `.idxmax()` y `.idxmin()` para identificar al estudiante con la **nota más alta** y la **nota más baja**.

In [11]:
print("Nota más alta:", grades_series.idxmax())
print("Nota más baja:", grades_series.idxmin())

Nota más alta: Viviana
Nota más baja: Henry

### Ejercicio 4: Serie de países y capitales
Se construye una **Serie** a partir de un diccionario con países y sus capitales.
Luego, se filtran aquellas capitales con más de **6 letras**.

In [13]:
countries_capitals = {"Peru": "Lima","Argentina": "Buenos Aires", "Chile": "Santiago", "Colombia": "Bogotá", "Mexico": "Ciudad de México"}
capitals_series = pd.Series(countries_capitals)
print("Países y capitales:\n", capitals_series, "\n")

Países y capitales:
 Peru                     Lima
Argentina        Buenos Aires
Chile                Santiago
Colombia               Bogotá
Mexico       Ciudad de México
dtype: object

In [14]:
filtered_capitals = capitals_series[capitals_series.str.len() > 6]
print("Capitales con más de 6 letras:\n", filtered_capitals)

Capitales con más de 6 letras:
 Argentina        Buenos Aires
Chile                Santiago
Mexico       Ciudad de México
dtype: object

### Ejercicio 5: Convertir strings a mayúsculas
Se crea una **Serie** con varias cadenas de texto y se convierten todas a **mayúsculas** usando `.apply(str.upper)`.

In [15]:
strings_series = pd.Series(["teclado", "mouse", "laptop", "impresora"])
print("strings_series:\n", strings_series)

strings_series:
 0      teclado
1        mouse
2       laptop
3    impresora
dtype: object

In [16]:
uppercase_strings=strings_series.apply(str.upper)
print("uppercasestrings_series:\n", uppercase_strings)

uppercasestrings_series:
 0      TECLADO
1        MOUSE
2       LAPTOP
3    IMPRESORA
dtype: object