## Part 3 – Pandas Series

### Ejercicio 1: Crear una Serie de calificaciones
A partir de la lista de notas `[15, 17, 20, 11, 13, 18, 19]`, se crea un índice con los nombres de los estudiantes.

In [13]:
import pandas as pd

In [43]:
grades = [15, 17, 20, 11, 13, 18, 19]
students = ["Estefania", "Antonella", "Viviana", "Henry", "Angel", "Lucía", "Katherin"]
grades_series = pd.Series(grades, index=students)
print("Aluumnos y notas:\n", grades_series)

Aluumnos y notas:
 Estefania    15
Antonella    17
Viviana      20
Henry        11
Angel        13
Lucía        18
Katherin     19
dtype: int64

### Ejercicio 2: Calcular el promedio
Se calcula el **promedio de notas** usando `.mean()`.

In [44]:
grades_series.mean()
print("promedio de notas:\n", grades_series.mean())

promedio de notas:
 16.142857142857142

### Ejercicio 3: Estudiante con la nota más alta y más baja
Se utilizan los métodos `.idxmax()` y `.idxmin()` para identificar al estudiante con la **nota más alta** y la **nota más baja**.

In [23]:
print("Nota más alta:", grades_series.idxmax())
print("Nota más baja:", grades_series.idxmin())

Nota más alta: Viviana
Nota más baja: Henry

### Ejercicio 4: Serie de países y capitales
Se construye una **Serie** a partir de un diccionario con países y sus capitales.
Luego, se filtran aquellas capitales con más de **6 letras**.

In [25]:
countries_capitals = {"Peru": "Lima","Argentina": "Buenos Aires", "Chile": "Santiago", "Colombia": "Bogotá", "Mexico": "Ciudad de México"}

In [26]:
capitals_series = pd.Series(countries_capitals)
print("Países y capitales:\n", capitals_series, "\n")

Países y capitales:
 Peru                     Lima
Argentina        Buenos Aires
Chile                Santiago
Colombia               Bogotá
Mexico       Ciudad de México
dtype: object

In [27]:
filtered_capitals = capitals_series[capitals_series.str.len() > 6]
print("Capitales con más de 6 letras:\n", filtered_capitals)

Capitales con más de 6 letras:
 Argentina        Buenos Aires
Chile                Santiago
Mexico       Ciudad de México
dtype: object

### Ejercicio 5: Convertir strings a mayúsculas
Se crea una **Serie** con varias cadenas de texto y se convierten todas a **mayúsculas** usando `.apply(str.upper)`.

In [40]:
strings_series = pd.Series(["teclado", "mouse", "laptop", "impresora"])
print("strings_series:\n", strings_series)

strings_series:
 0      teclado
1        mouse
2       laptop
3    impresora
dtype: object

In [41]:
uppercase_strings=strings_series.apply(str.upper)
print("uppercasestrings_series:\n", uppercase_strings)

uppercasestrings_series:
 0      TECLADO
1        MOUSE
2       LAPTOP
3    IMPRESORA
dtype: object