# Part 2 â€“ Data Types and Data Structures

## 2.1 Declare a variable for each of the following types: int, float, string, and boolean. Then print the type of each variable using the type() function.

In [1]:
int_var = 11
float_var = 11.0
string_var = "GROUP ELEVEN"
boolean_var = 11>10

# Print the type of each variable
print(type(int_var))
print(type(float_var))
print(type(string_var))
print(type(boolean_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## 2.2 Create a list that contains the following elements:
*A string
A boolean value
Two numeric values (of any type)
A list with two strings representing your favorite music artists

In [2]:
list_1 = [
    "GROUP ELEVEN!",      # A string
    11>10,                # A boolean value
    42,                   # First numeric value (integer)
    11.0,                 # Second numeric value (float)
    ["Enrique Bumbury", "Maykel Blanco"]  # List with two strings (favorite music artists)
]

# Print the list
print(list_1)

['GROUP ELEVEN!', True, 42, 11.0, ['Enrique Bumbury', 'Maykel Blanco']]

*From that list:*
2.2.1 Access the first and the last element

In [5]:
first_element=list_1[0]
last_element=list_1[4]
print(first_element)
print(last_element)

GROUP ELEVEN!
['Enrique Bumbury', 'Maykel Blanco']

2.2.2 Add a new string

In [7]:
list_1.append("Led Zepelling")

2.2.3 Remove the boolean value

In [10]:
list_1.remove(True)

2.2.4 Print the modified list

In [11]:
print("Modified list:", list_1)

Modified list: ['GROUP ELEVEN!', 42, 11.0, ['Enrique Bumbury', 'Maykel Blanco'], 'Led Zepelling']