## TAREA 1 - Parte 2

In [1]:
# Pregunta 6. Declaramos una variable de cada tipo:
entero = 10            #int
decimal = 3.14         #float
texto = "Buenos días"  #string
booleano = True        #booleano

In [2]:
# Mostramos las variables
print(type(entero))   
print(type(decimal))  
print(type(texto))   
print(type(booleano))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [3]:
# Pregunta 7. Creamos una lista:
equipo_10 = [
    "Equipo",                # string
    True,                    # booleano
    10,                      # número entero
    3.14,                    # número decimal
    ["Shakira", "Miranda"]     # lista con dos strings
]

In [4]:
# Accedemos al primer elemento:
print("Primer elemento:", equipo_10[0])

Primer elemento: Equipo

In [5]:
# Accedemos al último elemento
print("Último elemento:", equipo_10[-1])

Último elemento: ['Shakira', 'Miranda']

In [6]:
# Agregamos un nuevo string
equipo_10.append("Katty Perry")
print("Lista después de agregar un string:", equipo_10)

Lista después de agregar un string: ['Equipo', True, 10, 3.14, ['Shakira', 'Miranda'], 'Katty Perry']

In [7]:
# Eliminamos el valor booleano
equipo_10.remove(True)
print("Lista después de eliminar el booleano:", equipo_10)

Lista después de eliminar el booleano: ['Equipo', 10, 3.14, ['Shakira', 'Miranda'], 'Katty Perry']

In [8]:
# Pregunta 8. Definiendo una Tuple

In [9]:
tuple_1 = ("Perú", False, (5,7.5, 2.14))
print(tuple_1)

('Perú', False, (5, 7.5, 2.14))

In [10]:
# Pregunta 8. Explicando por qué una Tuple es inmutable
rpta_8 = """"Una tupla es inmutable por construcción de python, es decir, 
la tupla ya viene configurada por python para que, una vez creada una determinada tupla no se puedan modificar los datos, 
lo cual garantiza la seguridad, estabilidad, e integridad de los datos de la tupla, y así los datos no serán
modificados, añadidos, o eliminados."""
print (rpta_8)

"Una tupla es inmutable por construcción de python, es decir,
la tupla ya viene configurada por python para que, una vez creada una determinada tupla no se puedan modificar los datos,
lo cual garantiza la seguridad, estabilidad, e integridad de los datos de la tupla, y así los datos no serán
modificados, añadidos, o eliminados.

In [12]:
# Pregunta 8 : intentando modificar los elementos de la tuple para corroborar que no se puede:
print(tuple_1)
tuple_1[0]=100
tuple_1[1]="Argentina"

print(tuple_1[0]=100)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (129615631.py, line 6)

In [13]:
# Pregunta 9: funcion movie_summary

In [14]:
import pandas as pd
import numpy as np

C:\Users\Lenovo\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [ ]:
movies = {
  "Inception": {"year": 2010, "genre": "Sci-Fi"},
  "Parasite": {"year": 2019, "genre": "Drama"},
  "Whiplash": {"year": 2014, "genre": "Drama"}
}

In [ ]:
def movie_summary(movies):
    return [f"The movie {name} belongs to the {info['genre']} genre and was released in {info['year']}."
            for name, info in movies.items()]

print(movie_summary(movies))

In [ ]:
# Pregunta 10

In [ ]:
# Part 3 (Hecho por Georgina) – Pandas Series

In [ ]:
# Pregunta 11

From the list of grades [15, 17, 20, 11, 13, 18, 19], create a Pandas Series assigning student names as the index (for example: "Ana", "Jorge", "Valeria", etc.).
A partir de la lista de calificaciones [15, 17, 20, 11, 13, 18, 19], crea una Serie de Pandas asignando nombres de estudiantes como índice (por ejemplo: "Ana", "Jorge", "Valeria", etc.).

In [ ]:
import pandas as pd

In [ ]:
calificaciones = [15, 17, 20, 11, 13, 18, 19]
nombres = ["Ana", "Jorge", "Valeria", "Mathias","Nancy","Anthony","Rosa"]
alum_calf = pd.Series(calificaciones, index = nombres)
print(alum_calf)

In [ ]:
print(alum_calf.index)

In [ ]:
# Pregunta 12

Using the Series created in the previous step, calculate:

The average of the grades.
The student with the highest grade (use .idxmax()).
The student with the lowest grade (use .idxmin()).
Usando la Serie creada en el paso anterior, calcula:
El promedio de las calificaciones.
El estudiante con la calificación más alta (usa .idxmax()).
El estudiante con la calificación más baja (usa .idxmin()).

In [ ]:
promedio = alum_calf.mean()
promedio

In [ ]:
Alumno = alum_calf.idxmax()
Alumno

In [ ]:
Max = alum_calf.max()
Max

In [ ]:
Alumno2 = alum_calf.idxmin()
Alumno2

In [ ]:
Min = alum_calf.min()
Min

In [ ]:
# Pregunta 13

Create a Series from a dictionary of countries and their capitals. Filter and display only those countries whose capital has more than 6 letters. Crea una serie a partir de un diccionario de países y sus capitales. Filtra y muestra solo aquellos países cuya capital tiene más de 6 letras.

In [ ]:
Paises_capitales = {
    "Perú":"Lima", 
    "Argentina": "Buenos Aires", 
    "Colombia": "Bogota", 
    "Mexico":"Ciudad de Mexico", 
    "España": "Madrid", 
    "Chile": "Santiago de C"
}
PaisesyCapitales = pd.Series(Paises_capitales)
PaisesyCapitales

In [ ]:
filtro_capitales = PaisesyCapitales[PaisesyCapitales.str.len()>6]
filtro_capitales

In [ ]:
# Para países con mas de 6 letras que son INDEX
filtro_paises = PaisesyCapitales[PaisesyCapitales.index.str.len() > 6]
filtro_paises

In [ ]:
# Pregunta 14

Create a Series containing several strings and convert all its elements to uppercase using the .apply(str.upper) method. Crea una Serie que contenga varias cadenas y convierte todos sus elementos a mayúsculas utilizando el método .apply(str.upper).

In [ ]:
Departamentos = pd.Series(["Lima", "Arequipa", "Cusco", "San Martín", "Ucayali"])
Departamentos

In [ ]:
# Convertir todos los elementos a mayúsculas- .apply(str.upper)
Departamentos_may = Departamentos.apply(str.upper)
Departamentos_may