## TAREA 1 - Parte 2

In [20]:
# 6. Declaramos una variable de cada tipo:
entero = 10            #int
decimal = 3.14         #float
texto = "Buenos días"  #string
booleano = True        #booleano

In [21]:
# Mostramos las variables
print(type(entero))   
print(type(decimal))  
print(type(texto))   
print(type(booleano))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
# 7. Creamos una lista:
equipo_10 = [
    "Equipo",                # string
    True,                    # booleano
    10,                      # número entero
    3.14,                    # número decimal
    ["Shakira", "Miranda"]     # lista con dos strings
]

In [23]:
# Accedemos al primer elemento:
print("Primer elemento:", equipo_10[0])

Primer elemento: Equipo

In [24]:
# Accedemos al último elemento
print("Último elemento:", equipo_10[-1])

Último elemento: ['Shakira', 'Miranda']

In [25]:
# Agregamos un nuevo string
equipo_10.append("Katty Perry")
print("Lista después de agregar un string:", equipo_10)

Lista después de agregar un string: ['Equipo', True, 10, 3.14, ['Shakira', 'Miranda'], 'Katty Perry']

In [26]:
# Eliminamos el valor booleano
equipo_10.remove(True)
print("Lista después de eliminar el booleano:", equipo_10)

Lista después de eliminar el booleano: ['Equipo', 10, 3.14, ['Shakira', 'Miranda'], 'Katty Perry']

In [ ]:
# Pregunta 8. Definiendo una Tuple

In [7]:
tuple_1 = ("Perú", False, (5,7.5, 2.14))
print(tuple_1)

('Perú', False, (5, 7.5, 2.14))

In [14]:
# Pregunta 8. Explicando por qué una Tuple es inmutable
rpta_8 = """"Una tupla es inmutable por construcción de python, es decir, 
la tupla ya viene configurada por python para que, una vez creada una determinada tupla no se puedan modificar los datos, 
lo cual garantiza la seguridad, estabilidad, e integridad de los datos de la tupla, y así los datos no serán
modificados, añadidos, o eliminados."""
print (rpta_8)

"Una tupla es inmutable por construcción, es decir,
la tupla ya viene configurada para que,n una vez creada una determinada tupla no se puedan modificar los datos,
lo cual garantiza la seguridad y estabilidad, integridad de los datos de la tupla, y así los datos no serán
modificados, añadidos, o eliminados.

In [18]:
# Pregunta 8 : intentando modificar los elementos para corroborar que no se puede:
print(tuple_1)
tuple_1[0]=100
tuple_1[1]="Argentina"

print(tuple_1[0]=100)

('Perú', False, (5, 7.5, 2.14))

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Pregunta 9: funcion movie_summary

In [6]:
import pandas as pd
import numpy as np

C:\Users\Lenovo\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [33]:
movies = {
  "Inception": {"year": 2010, "genre": "Sci-Fi"},
  "Parasite": {"year": 2019, "genre": "Drama"},
  "Whiplash": {"year": 2014, "genre": "Drama"}
}

In [39]:
def movie_summary(movies):
    return [f"The movie {name} belongs to the {info['genre']} genre and was released in {info['year']}."
            for name, info in movies.items()]

print(movie_summary(movies))

['The movie Inception belongs to the Sci-Fi genre and was released in 2010.', 'The movie Parasite belongs to the Drama genre and was released in 2019.', 'The movie Whiplash belongs to the Drama genre and was released in 2014.']

TypeError: generar_texto() got an unexpected keyword argument 'Inception'

Hola, me llamo Ana, tengo 30 años y vivo en Madrid.

¡Hola, bienvenido a Python!

In [3]:
# prueba, Rossy, hola